/Data/Clean/active_prices_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/active_returns_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/all_transac_house_price_index_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/anxious_index_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/consumer_sentiment_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/cpi_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/fl_active_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/fl_passive_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/i_rate_growth_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/interest_rate_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/log_active_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/log_passive_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/m2_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/m3_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/noncyclical_rate_of_unemployment_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/passive_prices_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/passive_returns_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/real_gdp_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/recession_dummy_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Clean/unrate_df.csv filter=lfs diff=lfs merge=lfs -text
/Data/Raw[[:space:]]Data/Funds/List[[:space:]]1948[[:space:]]Passive[[:space:]]Funds.csv filter=lfs diff=lfs merge=lfs -text
/Data/Raw[[:space:]]Data/Funds/List[[:space:]]4976[[:space:]]Active[[:space:]]Funds.csv filter=lfs diff=lfs merge=lfs -text
/Data/Raw[[:space:]]Data/Other[[:space:]]Variables/Recession/Recession_Indicators.xls filter=lfs diff=lfs merge=lfs -text
*.spydata filter=lfs diff=lfs merge=lfs -text
